extends layout

block content
  .w-full.text-center.px-6
    h1(class="mt-10 mb-10 text-6xl font-medium") CORS Router
    p(class="mb-10 text-xl sm:text-3xl font-medium") Resolve CORS issues in "production" for your serverless projects.
    div(class="flex justify-center items-center w-full")
      img(class="object-cover" src="https://media.discordapp.net/attachments/1137527038366978078/1159519156471873556/image.png?ex=6531515d&is=651edc5d&hm=829e12d224bf48739f3190404d98cd4c2253c2fa071c8bd13a7912e30d15fb65&=", alt="")
    h3(class="my-10 text-4xl sm:text-5xl font-medium") How It Works
    p(class="mb-10 text-xl sm:text-2xl") By sending your HTTP requests through CORS-Router using the following format:
    div(class="flex justify-center items-center w-full")
      img(class="object-cover" src="https://cdn.discordapp.com/attachments/1137527038366978078/1148818874859528312/img_1.png", alt="")
    p(class="mb-10 text-xl sm:text-2xl") Preserve the original server response, whether it succeeds or fails.
    div(class="flex justify-center items-center w-full")
      img(class="object-cover" src="https://media.discordapp.net/attachments/1137527038366978078/1148810136111026307/img_2.png", alt="")
    div(class="flex justify-center items-center mb-3")
      a(href="https://github.com/bryanlundberg/CORS-Router" class="hover:text-gray-700 ") 
        svg.bi.bi-github(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewbox='0 0 16 16')
          path(d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.20-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.20-.82 2.20-.82.44 1.10.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.20 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z')
