doctype html
html
  head
    title= title
    link(rel='stylesheet' type="text/css" href='/stylesheets/style.css')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.tailwindcss.com")
    meta(name="description" content="CORS-Router is a versatile proxy solution designed to alleviate Cross-Origin Resource Sharing (CORS) complications in serverless web applications.")
    meta(name="keywords" content="CORS CORS-Fix CORS-Router CORS-Router")
  body.bg
    block content